.head{
    color: aliceblue;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    border-bottom: 1px solid #0b0606;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color:#812121;
    justify-content: space-between;

}
.head__logo{
    height: 75px;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    align-items: center;
}

.head_titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    align-items: center;
}

.head_nav{
    text-align: center;
}
.head__link{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}